/*шрифты с font google*/
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Great+Vibes&family=Press+Start+2P&display=swap');
/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons button {
    margin-left: 10px; /* Оставляем отступ 10px для всех кнопок */
    padding: 8px 12px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.header-buttons button:first-child {
    margin-left: 0; /* Убираем отступ у первой кнопки */
}
.header-buttons button:nth-child(5) {
    margin-left: 80px; 
}
.header-buttons button:nth-child(7) {
    margin-left: 80px; 
}
.header-buttons button:hover {
    background-color: #777;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прикрепляем к нижней части страницы */
    width: 100%; /* Ширина 100% */
   
}
 


/* Главная homePage.html */

.homePage-specific  {
    background-color: #40E0D0; 
    color: #000; 
    padding: 350px;
    padding-left: 50px;
    padding-top: 200px;
    text-align: left;
    font-size: 96px; 
    font-weight: bold;
    line-height: 1;
    font-family: "Press Start 2P", system-ui;
    
}
/* Контакты contacts.html*/

.contacts-specific 
{
    background: url(../img/контакты3.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
#Phone{
    font-size: 36px;
    color: white;
    position: absolute;
    padding-left: 1150px;
    padding-top: 40px;
    
}
#mail{
    font-size: 36px;
    color: blue;
    position: absolute;
    padding-left: 1150px;
    padding-top: 150px;
    font-family: "Great Vibes", cursive;
}

/*Навыки skills.html*/

#fondTest{
    background-color: #40E0D0; 
    color: white;
    padding: 300px;
    padding-top: 200px;
    text-align: center;
    font-size: 120px; 
    font-weight: bold;
    font-family: "Ga Maamli", sans-serif;
}
   
#text{
    position: relative;
    bottom: 830px;
    font-size: 180%;
    padding-left: 30px;
    }
 /* Опыт practice.html*/ 
 .roundButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: grey;
}        
 .roundButton:active {
    background-color: darkred;
}      
.history-button {
    display: flex;
            flex-direction: column; /* Расположение элементов по вертикали */
            justify-content: center; /* Вертикальное центрирование */
            align-items: center; /* Горизонтальное центрирование */
            height: 100%; /* Высота контейнера равна высоте страницы */
            gap: 100px; /* Отступы между кнопками */
}
    
.history-button button:first-child {
    margin-top: 100px;
}