/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons button {
    margin-left: 10px; /* Оставляем отступ 10px для всех кнопок */
    padding: 8px 12px;
    background-color: #555;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.header-buttons button:first-child {
    margin-left: 0; /* Убираем отступ у первой кнопки */
}
.header-buttons button:nth-child(5) {
    margin-left: 80px; 
}
.header-buttons button:nth-child(7) {
    margin-left: 80px; 
}
.header-buttons button:hover {
    background-color: #777;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прикрепляем к нижней части страницы */
    width: 100%; /* Ширина 100% */
}

    

/* "name-section resume-specific" */
/* Уникальные стили для resume.html */
.name-section.resume-specific  {
    background-color: #40E0D0; /* Бирюзовый цвет для resume.html */
    color: #000; /* Цвет текста для resume.html */
    padding: 350px;
    padding-left: 300px;
    padding-top: 200px;
    text-align: left;
    font-size: 96px; 
    font-weight: bold;
    line-height: 1;
}
/* Уникальные стили для Контакты.html */

.name-section.contacts-specific 
{
    background: url(../img/контакты3.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
#Phone{
    font-size: 36px;
    color: white;
    position: absolute;
    padding-left: 1150px;
    padding-top: 40px;
}
#mail{
    font-size: 36px;
    color: blue;
    position: absolute;
    padding-left: 1150px;
    padding-top: 150px;
}
#fondTest{
    background-color: #40E0D0; 
    color: white;
    padding: 300px;
    padding-top: 200px;
    text-align: center;
    font-size: 120px; 
    font-weight: bold;
    
    
    
    
}